<div class="inputField">
	<label for=<%= label%>><%=placeholder %></label>
	<textarea <%= required? "required" : "" %> name=<%= label %> id=<%= label %> placeholder=<%= placeholder %> rows=<%= rows %> cols=<%= cols %>></textarea>
</div>